<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="button-search">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `button-search`
     * Buscar
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ButtonSearch extends Polymer.Element {
      static get is() { return 'button-search'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'button-search'
          }
        };
      }
    }

    window.customElements.define(ButtonSearch.is, ButtonSearch);
  </script>
</dom-module>
